@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
body {
  background-color: #F9F8F4;
}
.nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.nav .crossIcon_div{
	margin-right: 55px;
}
.nav img{
	width: 70px;
	margin: 25px;
}
.container{
	padding: 15px; 
}
h3{
    text-align: center;
    color: #fff;
    background-color:#FFBF00;
    padding: 20px;
    font-size: 20px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}