@charset "UTF-8";
/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}
  
  /* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}
  
header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav{
  z-index: 1;
  position: fixed;
  width: 100%;
  font-family: "Baloo Bhai 2", cursive;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  background-color: #4caf50;
 
}
nav img{
    width: 70px;
}
nav .logo img{
    width: 35px;
}
ul{
   color: white; 
   display: flex;
   list-style: none;
   justify-content: center;
}
li{
    margin: 15px;

}
li a{
    text-decoration: none;
    color: white;
    font-size:1.1rem;
    transition: all .50s ease;
}
li a:hover{
    color: black;
}
#menu-icon {
    color: white;
    font-size: 35px;
    cursor: pointer;
    display: none;
}
@media (max-width:1023px){
  .navbar{
      display: none;
  }
  .navbar_res li a{
      font-size: 0.9rem; 
  } 
  #menu-icon {
  display: block;
  }
  .navbar{
      position: absolute;
      top: 70px;
      right: -100%;
      width: 270px;
      height: 100vh;
      background-color:  #63bb65;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 10px;
      transition: all .50s ease;
  }
  .navbar a{
      display: block;
      margin: 12px 0;
      padding: 0px 70px;
      transition: all .50s ease;
  }
  .navbar a:hover{
      color: black;
  }
  .open{
      right: 0%;
  }
} 
section.hero {
  background-image: url('/img/trainerHome.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  
  padding: 100px 0;
  font-family: "Bree Serif", serif;
  height: 110vh;
}

.hero-content {
  max-width: 100%;
  color:#333;
  
}
.hero-content .first-h1{
	margin-top: 20vh;
	margin-bottom: 5%;
}
.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
  padding-left: 8%;
}
.hero-content h1 .name{
  color: red;
}
.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-content .trainer_Btn {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 22vh;
}
.hero-content .trainer_Btn a{
	text-decoration: none;
}
.hero-content .trainer_Btn button{
    background-color: transparent;
    border: 2px solid ;
    border-radius: 40px;
	color: #4caf50;
	display: block;
	font: 1.125rem 'Oswald', Arial, sans-serif; /*18*/
	height: 80px;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 4px;
    text-decoration: none;
	text-transform: uppercase;
	font-family: "Baloo Bhai 2", cursive;
	width: 264px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	
}

.hero-content .trainer_Btn .btn-1{
	background-color: #4caf50;
	color: #fff;
}
.hero-content .trainer_Btn .btn-1:hover{
	background-color: transparent;
	color: #4caf50;
	animation: moveToRight 2s ease-in-out;
      animation-delay: 10ms;
	
}
@keyframes moveToRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(200px);
  }
}
.hero-content .trainer_Btn .btn-2{
	background-color: #333;
	color: #fff;
	
}
.hero-content .trainer_Btn .btn-2:hover{
	background-color: transparent;
	color: #333;
	animation: moveToRight 2s ease-in-out;
    animation-delay: 10ms;
}

.hero-content .trainer_Btn .btn-3{
	background-color: #4caf50;
	color: #fff;
}
.hero-content .trainer_Btn .btn-3:hover{
	background-color: transparent;
	color: #4caf50;
	animation:moveToRight1 2s ease-in;
      animation-delay: 10ms;
	
}
@keyframes moveToRight1 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-200px);
  }
}

.hero-content .trainer_Btn button:hover{
    color: #fff;
    background-color:#4caf50 ;
}
.about_us{
  background-color:#F9F8F4;
  
}
.about_us h1{
  text-align: center;
  margin-bottom: 40px;
  padding-top: 40px;
  font-family: "Baloo Bhai 2", cursive;
}
.about_us_container{
  text-align: center;
  width: 85%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: auto;
  margin-top: 80px;
}
.about_us_img{
  width: 400px;
  margin-bottom: 10px;
}
.about_us_img img{
  width: 87%; 
  transition: 1s; 
}
.about_us_img img:hover{
	transform: scale(1.1);
}
.about_us_para{
    width: 45%;
    margin-top: 75px;
    font-family: "Bree Serif", serif;
    font-size: 1.1rem;
    line-height: 1.6;
    
}



.mission{
  background-color:#f2f2f2;
  
}
.mission h1{
  font-family: "Baloo Bhai 2", cursive;
  text-align: center;
  margin-top: 50px;
}
.mission_container{
  text-align: center;
  width: 85%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: auto;
  margin-top: 80px;
}
.mission_img{
  width: 400px;
  margin-bottom: 10px;
}
.mission_img img{
  width: 87%;
  transition: 1s; 
}
.mission_img img:hover{
	transform: scale(1.1);
}
 .mission_para{
    width: 45%;
    font-family: "Bree Serif", serif;
    font-size: 1.1rem;
    line-height: 1.6;
  
    
}

/* contact page */
.contact_us{
  background-color: #F9F8F4;
}
.contact_us h1{
  font-family: "Baloo Bhai 2", cursive;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 40px;
}
.contact_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7px;
 
}
.contact{
  width: 50%;
}

.contact .logo{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.get_in_touch{
  margin-bottom: 30px;
}
.contact_us .get_in_touch form {
  max-width: 400px;
  margin: 0 auto;
}
.contact_us .get_in_touch label {
  display: block;
  margin-bottom: 10px;

}
.contact_us .get_in_touch input, textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.contact_us .get_in_touch button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: 2px solid #4CAF50;

  cursor: pointer;
  border-radius: 5px;
}
.contact_us .get_in_touch button:hover{
  background-color: transparent ;
  border: 2px solid #4CAF50;
  color: #4CAF50;

}
footer{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 12px;
}


@media (max-width:1023px){
	/*about us section */
	.about_us h1{
	  
	  margin-bottom: 30px;
	  padding-top: 40px;
	}
	.about_us_container{
      gap:0px;
	  padding-bottom: 30px;
	  margin-top: 0px;
	  
	}
	.about_us_img{
	  width: 300px;
	  margin-bottom: 5px;
	}
	.about_us_img img{
	  width: 75%;  
	}
	.about_us_para{
	    width: 75%;
	    margin-top: 20px;    
	}
	/*mission section*/
	
	.mission h1{
	  margin-top: 40px;
	}
	.mission_container{
	  width: 85%;
	  gap: 10px;
	  margin-top: 30px;   
	}
	.mission_img{
	  width: 300px;
	  margin-bottom: 5px;
	}
	.mission_img img{
	  width: 75%;
	}
	 .mission_para{
	    width: 90%; 
	      
	}	
}
@media screen and (max-width: 768px) {
    /* Your responsive styles for small screens here */
    section.hero {  
        height:95vh
	}
	.hero-content .student_Btn {
	    gap: 10px;
	    margin: 20%;
	}
	
	.hero-content .first-h1{
	margin-top: 9vh;
	font-size: 2.1rem;
    }
    
    .hero-content .trainer_Btn {
    margin-top: 12vh;
    }
    
   #alert_message_phone{
	text-align: center;
	color: green;
	background-color:#fff;
	width:340px;
	margin:auto;
	border-radius: 3px;
	}
	#alert_message{
        display: none; /* Hide on phone screens */
    } 
    #alert_message_phone {
        display: block; /* Show on phone screens */
    }	
 }
/* Media query for screens with width greater than 768px (typical desktop size) */
@media (min-width: 769px) {
    #alert_message {
        display: block; /* Show on desktop screens */
    }
    
    #alert_message_phone{
        display: none; /* Hide on desktop screens */
    }
}
#alert_message{
	text-align: center;
	color: green;
	background-color:#fff;
	width:340px;
	margin:auto;
	margin-top: 8vh;
	border-radius: 3px;
}
