<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>LearnSphere|Add course</title>
<link rel="stylesheet" href="/css/createCourse.css">

<!--fab-icon -->
<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>

<body>
    <div class="nav">
       <div class="logo_div">
         <a href="/"><img alt="" src="/img/logo.png"></a>
       </div>
        <div class="crossIcon_div">
         <a onclick="goBack()" style='font-size:30px; cursor: pointer'>&#10006;</a>
       </div>    
    </div>
    
	<div class="container">
		<h3>Course</h3>
		<form action="/addCourse" method="post">	    
			<input type="text" name="courseId" id="courseId" required placeholder="Course ID"><br> 
			<p th:text="${error}" id="alert"></p>					
			<input type="text" name="courseName" id="courseName" required placeholder="Course Name"><br>	
			<input type="number" name="coursePrice" id="coursePrice" required placeholder="Course Price"><br> 
			<input type="text" name="courseDescription" id="courseName" required placeholder="Course Description"><br>
			<input type="text" name="courseImage" id="courseImage" required placeholder="Course Image link"><br>
			<input type="submit" id="button" value="Create Course">		
		</form>
		
	</div>
	
</body>
<script>
        function goBack() {
            window.history.back();
        }
    </script>

</html>