<!DOCTYPE html>
<html>
<head>
    <title>LearnSphere|Payment failure</title>
    <link rel="stylesheet" type="text/css" href="/css/register_pop_up.css">
    
    <!--fab-icon -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

</head>
<body>
    <div id="success-container">
        
        <i class="fa fa-warning" style="font-size:48px;color:red"></i>
        
        
        <h1>Error</h1>
        <p style="font-family:18px">Ooops..something wrong, try one more time</p>
        <div class="btn_container">
            <a href="/login">Go to Login</a>
            <a href="/">Close</a>
        </div>
    </div>
</body>
</html>