<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LearnSphere|Course Payment</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    
    <!--fab-icon -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/css/payment-page.css">
</head>
<body>
     
     <div class="container">
        <h1>Course Payment</h1>
        <div class="course-info"> 
            <p>Course: <span th:text="${course.courseName}"></span></p>
            <p>Price: <span th:text="${course.coursePrice}"></span> INR</p>
        </div>
        <button id="payButton">Pay Now</button>
    </div>    
    <script th:inline="javascript">
        var razorpayOrderId = /*[[${razorpayOrderId}]]*/'';
        
        document.getElementById('payButton').addEventListener('click', function() {
            var options = {
                key: "rzp_test_0M2C5iLtRzJ1pQ", // Razorpay API key
                amount: /*[[${course.coursePrice * 100}]]*/'', // Amount in paisa
                currency: 'INR',
                name: 'Course Payment',
                description: 'Payment for ' + /*[[${course.courseName}]]*/'',
                order_id: razorpayOrderId,
                handler: function(response) {
                    // Handle the payment response as shown in the previous examples
                    if (response.razorpay_payment_id) {
                        // Payment successful, submit the payment response to your server for verification
                        var paymentData = {
                        	razorpay_payment_id: response.razorpay_payment_id,
                            razorpay_order_id: response.razorpay_order_id,
                            razorpay_signature: response.razorpay_signature,
                            
                        };
                        
                        fetch('/verify-payment', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(paymentData)
                        })
                        .then(function(response) {
                            if (response.ok) {
                                // Payment successful, redirect to success page
                                window.location.href = '/payment-success';
                            } else {
                                // Payment failed or verification failed, redirect to failure page
                                window.location.href = '/payment-failure';
                            }
                        });
                    }
                    
                }
            };
            
            var rzp = new Razorpay(options);
            rzp.open();
        });
    </script>
</body>
</html>
